<ion-header>
  <toolbar-with-language-select
    [title]="'PROFILE.PROFILE' | translate"
  ></toolbar-with-language-select>
</ion-header>

<ion-content>
  <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="floating"
        >{{ "PROFILE.PROFILE" | translate }}</ion-label
      >
      <ion-input type="text" formControlName="name" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" formControlName="email" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating"
        >{{ "PROFILE.NEW_PASSWORD" | translate }}</ion-label
      >
      <ion-input type="password" formControlName="newPassword"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating"
        >{{ "PROFILE.CURRENT_PASSWORD" | translate }}</ion-label
      >
      <ion-input
        type="password"
        formControlName="currentPassword"
        required
      ></ion-input>
    </ion-item>
    <ion-button
      expand="full"
      type="submit"
      [disabled]="profileForm.get('currentPassword')?.invalid"
      >{{ "PROFILE.SAVE" | translate }}</ion-button
    >
  </form>
</ion-content>
