<ion-header>
  <ion-toolbar>
    <div class="toolbar-content">
      <ion-title>{{ "TABS.LOCATIONS" | translate }}</ion-title>
      <ion-searchbar
        (ionInput)="filterLocations($event)"
        placeholder="{{ 'LOCATIONS.SEARCH_LOCATION' | translate }}"
      ></ion-searchbar>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item
      *ngFor="let location of filteredLocations"
      (click)="openLocationDetailsModal(location)"
    >
      <ion-label>
        <h2>{{ location.location}}</h2>
        <p>{{ location.description }}</p>
      </ion-label>
      <ion-button
        slot="end"
        fill="clear"
        (click)="openEditLocationModal(location); $event.stopPropagation();"
      >
        <ion-icon slot="icon-only" name="create-outline"></ion-icon>
      </ion-button>
      <ion-button
        slot="end"
        color="danger"
        fill="clear"
        (click)="deleteLocation(location.id); $event.stopPropagation();"
      >
        <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
