<ion-header>
  <ion-toolbar>
    <ion-title>{{ "EDIT_TRIP.EDIT_TRIP" | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">{{
        "TRIP_DETAILS.CLOSE" | translate
      }}</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="editTripForm" (ngSubmit)="saveTrip()">
    <ion-item>
      <ion-label position="stacked">{{
        "TRIP_DETAILS.DESCRIPTION" | translate
      }}</ion-label>
      <ion-input formControlName="description"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">{{
        "TRIP_DETAILS.TYPE" | translate
      }}</ion-label>
      <ion-select formControlName="type">
        <ion-select-option *ngFor="let type of tripTypes" [value]="type">{{
          type | translate
        }}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">{{
        "TRIP_DETAILS.STATUS" | translate
      }}</ion-label>
      <ion-select formControlName="status">
        <ion-select-option
          *ngFor="let status of tripStatuses"
          [value]="status"
          >{{ status | translate }}</ion-select-option
        >
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">{{
        "TRIP_DETAILS.DESTINATION" | translate
      }}</ion-label>
      <ion-input formControlName="destination"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">{{
        "TRIP_DETAILS.DEPARTURE" | translate
      }}</ion-label>
      <ion-input formControlName="departure"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">{{
        "TRIP_DETAILS.START_DATE" | translate
      }}</ion-label>
      <ion-input formControlName="start_date" type="date"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">{{
        "TRIP_DETAILS.END_DATE" | translate
      }}</ion-label>
      <ion-input formControlName="end_date" type="date"></ion-input>
    </ion-item>
    <ion-button expand="full" type="submit" [disabled]="editTripForm.invalid">{{
      "PROFILE.SAVE" | translate
    }}</ion-button>
  </form>
</ion-content>
