<ion-header>
  <ion-toolbar>
    <ion-title size="large">{{ "ADD_TRIP.ADD_TRIP" | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="form-container">
    <form [formGroup]="tripForm" (ngSubmit)="createTrip()" class="trip-form">
      <ion-item>
        <ion-label position="stacked"
          >{{ "TRIP_DETAILS.DESCRIPTION" | translate }}</ion-label
        >
        <ion-input
          formControlName="description"
          placeholder="{{ 'ADD_TRIP.DESCRIPTION_PLACEHOLDER' | translate }}"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked"
          >{{ "TRIP_DETAILS.TYPE" | translate }}</ion-label
        >
        <ion-select
          formControlName="type"
          placeholder="{{ 'ADD_TRIP.TYPE_PLACEHOLDER' | translate }}"
        >
          <ion-select-option *ngFor="let type of tripTypes" [value]="type">
            {{ type | translate }}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="stacked"
          >{{ "TRIP_DETAILS.STATUS" | translate }}</ion-label
        >
        <ion-select
          formControlName="status"
          placeholder="{{ 'ADD_TRIP.STATUS_PLACEHOLDER' | translate}}"
        >
          <ion-select-option
            *ngFor="let status of tripStatuses"
            [value]="status"
          >
            {{ status | translate }}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="stacked"
          >{{ "TRIP_DETAILS.DESTINATION" | translate }}</ion-label
        >
        <ion-input
          formControlName="destination"
          placeholder="{{ 'ADD_TRIP.DESTINATION_PLACEHOLDER' | translate }}"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked"
          >{{ "TRIP_DETAILS.DEPARTURE" | translate}}</ion-label
        >
        <ion-input
          formControlName="departure"
          placeholder="{{ 'ADD_TRIP.DEPARTURE_PLACEHOLDER' | translate }}"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked"
          >{{ "TRIP_DETAILS.START_DATE" | translate }}</ion-label
        >
        <ion-input formControlName="start_date" type="date"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked"
          >{{ "TRIP_DETAILS.END_DATE" | translate }}</ion-label
        >
        <ion-input formControlName="end_date" type="date"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked"
          >{{ "TABS.LOCATIONS" | translate }} "</ion-label
        >
        <ion-input
          [value]="selectedLocations.length + ' ' + ('ADD_TRIP.LOCATIONS_SELECTED' | translate)"
          readonly
          (click)="openSelectLocationModal()"
        ></ion-input>
      </ion-item>

      <ion-button
        expand="full"
        type="submit"
        class="submit-button"
        [disabled]="tripForm.invalid"
        >{{ "ADD_TRIP.CREATE_TRIP" | translate }}</ion-button
      >
    </form>
  </div>
</ion-content>
