<ion-header>
  <toolbar-with-language-select
    [title]="'LOGIN.LOGIN' | translate"
  ></toolbar-with-language-select>
</ion-header>

<ion-content>
  <div class="card-container">
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{ "LOGIN.WELCOME_BACK" | translate }}</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <form [formGroup]="loginForm" (ngSubmit)="login()">
          <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input formControlName="email" type="email"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating"
              >{{ "REGISTER.PASSWORD" | translate }}</ion-label
            >
            <ion-input formControlName="password" type="password"></ion-input>
          </ion-item>
          <ion-button expand="full" type="submit" [disabled]="loginForm.invalid"
            >{{ "LOGIN.LOGIN" | translate }}</ion-button
          >
        </form>
        <ion-button expand="full" color="light" (click)="navigateToRegister()"
          >{{ "LOGIN.DONT_HAVE_ACCOUNT" | translate }}</ion-button
        >
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
