<ion-header>
  <ion-toolbar>
    <ion-title>{{ "SELECT_LOCATIONS.SELECT_LOCATIONS" | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">{{
        "TRIP_DETAILS.CLOSE" | translate
      }}</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let location of locations">
      <ion-label>{{ location.location }}</ion-label>
      <ion-checkbox
        slot="start"
        [checked]="isSelected(location)"
        (ionChange)="toggleLocationSelection(location)"
      ></ion-checkbox>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="openAddLocationModal()">{{
        "SELECT_LOCATIONS.ADD_LOCATION" | translate
      }}</ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="confirmSelection()">{{
        "DELETE_TRIP.CONFIRM" | translate
      }}</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
