<ion-header>
  <ion-toolbar>
    <ion-title>Trip Details</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Description</ion-label>
    <div>{{ trip.description }}</div>
  </ion-item>
  <ion-item>
    <ion-label>Type</ion-label>
    <div>{{ trip.type }}</div>
  </ion-item>
  <ion-item>
    <ion-label>Status</ion-label>
    <div>{{ trip.status }}</div>
  </ion-item>
  <ion-item>
    <ion-label>Destination</ion-label>
    <div>{{ trip.destination }}</div>
  </ion-item>
  <ion-item>
    <ion-label>Departure</ion-label>
    <div>{{ trip.departure }}</div>
  </ion-item>
  <ion-item>
    <ion-label>Start Date</ion-label>
    <div>{{ trip.start_date | date : "longDate" }}</div>
  </ion-item>
  <ion-item>
    <ion-label>End Date</ion-label>
    <div>{{ trip.end_date | date : "longDate" }}</div>
  </ion-item>
  <ion-item *ngIf="owner">
    <ion-label>Owner</ion-label>
    <div>{{ owner.name }} ({{ owner.email }})</div>
  </ion-item>

  <!-- Section for displaying comments -->
  <div class="comments-section">
    <ion-list>
      <ion-list-header>
        <ion-label>Comments</ion-label>
      </ion-list-header>
      <ion-item *ngFor="let comment of comments">
        <ion-label>{{ comment.user_name }}: {{ comment.comment }}</ion-label>
      </ion-item>
    </ion-list>
  </div>

  <!-- Section for writing a comment -->
  <form
    [formGroup]="commentForm"
    (ngSubmit)="addComment()"
    class="comment-form"
  >
    <ion-item>
      <ion-label position="stacked">Write a Comment</ion-label>
      <ion-textarea
        formControlName="comment"
        placeholder="Enter your comment here"
      ></ion-textarea>
    </ion-item>
    <ion-button expand="full" type="submit">Add Comment</ion-button>
  </form>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="addComment()">Add Comment</ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="shareTrip()">Share Trip</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
