<ion-header>
  <ion-toolbar>
    <ion-title>{{ "TRIP_DETAILS.TRIP_DETAILS" | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">{{
        "TRIP_DETAILS.CLOSE" | translate
      }}</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>{{ "TRIP_DETAILS.DESCRIPTION" | translate }}</ion-label>
    <div>
      {{ trip.description }}
    </div>
  </ion-item>
  <ion-item>
    <ion-label>{{ "TRIP_DETAILS.TYPE" | translate }}</ion-label>
    <div>{{ trip.type | translate }}</div>
  </ion-item>
  <ion-item>
    <ion-label>{{ "TRIP_DETAILS.STATUS" | translate }}</ion-label>
    <div>{{ trip.status | translate }}</div>
  </ion-item>
  <ion-item>
    <ion-label>{{ "TRIP_DETAILS.DESTINATION" | translate }}</ion-label>
    <div>{{ trip.destination }}</div>
  </ion-item>
  <ion-item>
    <ion-label>{{ "TRIP_DETAILS.DEPARTURE" | translate }}</ion-label>
    <div>{{ trip.departure }}</div>
  </ion-item>
  <ion-item>
    <ion-label>{{ "TRIP_DETAILS.START_DATE" | translate }}</ion-label>
    <div>{{ trip.start_date | date : "longDate" }}</div>
  </ion-item>
  <ion-item>
    <ion-label>{{ "TRIP_DETAILS.END_DATE" | translate }}</ion-label>
    <div>{{ trip.end_date | date : "longDate" }}</div>
  </ion-item>
  <ion-item *ngIf="owner">
    <ion-label>{{ "TRIP_DETAILS.OWNER" | translate }}</ion-label>
    <div>{{ owner.name }} ({{ owner.email }})</div>
  </ion-item>
  <ion-item button (click)="openLocationsModal()">
    <ion-label>{{ "TRIP_DETAILS.VIEW_LOCATIONS" | translate }}</ion-label>
  </ion-item>

  <div class="comments-section">
    <ion-list>
      <ion-list-header>
        <ion-label>{{ "TRIP_DETAILS.COMMENTS" | translate }}</ion-label>
      </ion-list-header>
      <ion-item *ngFor="let comment of comments">
        <ion-label>{{ comment.user_name }}: {{ comment.comment }}</ion-label>
      </ion-item>
    </ion-list>
  </div>

  <form
    [formGroup]="commentForm"
    (ngSubmit)="addComment()"
    class="comment-form"
  >
    <ion-item>
      <ion-label position="stacked">{{
        "TRIP_DETAILS.WRITE_COMMENT" | translate
      }}</ion-label>
      <ion-textarea
        formControlName="comment"
        placeholder="{{ 'TRIP_DETAILS.WRITE_COMMENT_HERE' | translate }}"
      ></ion-textarea>
    </ion-item>
    <ion-button expand="full" type="submit">{{
      "TRIP_DETAILS.ADD_COMMENT" | translate
    }}</ion-button>
  </form>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="shareTrip()">{{
        "TRIP_DETAILS.SHARE_TRIP" | translate
      }}</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
