<ion-header>
  <ion-toolbar>
    <ion-title>{{ "EDIT_LOCATION.EDIT_LOCATION" | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">{{
        "TRIP_DETAILS.CLOSE" | translate
      }}</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="locationForm" (ngSubmit)="editLocation()">
    <ion-item>
      <ion-label position="stacked">{{
        "ADD_LOCATION.LOCATION" | translate
      }}</ion-label>
      <ion-input
        formControlName="location"
        placeholder="{{ 'ADD_LOCATION.ENTER_LOCATION' | translate }}"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">{{
        "TRIP_DETAILS.DESCRIPTION" | translate
      }}</ion-label>
      <ion-input
        formControlName="description"
        placeholder="{{ 'ADD_TRIP.DESCRIPTION_PLACEHOLDER' | translate }}"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">{{
        "TRIP_DETAILS.TYPE" | translate
      }}</ion-label>
      <ion-input
        formControlName="type"
        placeholder=" {{ 'ADD_TRIP.TYPE_PLACEHOLDER' | translate }}"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">{{
        "TRIP_DETAILS.STATUS" | translate
      }}</ion-label>
      <ion-select formControlName="status" placeholder="Select status">
        <ion-select-option
          *ngFor="let status of locationStatuses"
          [value]="status"
          >{{ status | translate }}</ion-select-option
        >
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">{{
        "TRIP_DETAILS.START_DATE" | translate
      }}</ion-label>
      <ion-input formControlName="start_date" type="date"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">{{
        "TRIP_DETAILS.END_DATE" | translate
      }}</ion-label>
      <ion-input formControlName="end_date" type="date"></ion-input>
    </ion-item>
    <ion-button expand="full" type="submit">{{
      "PROFILE.SAVE" | translate
    }}</ion-button>
  </form>
</ion-content>
