<ion-header [translucent]="true">
  <ion-toolbar>
    <img src="assets/logo.png" alt="logo" />
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let trip of trips">
      <ion-label>
        <h2>{{ trip.description }}</h2>
        <p>{{ trip.destination }} - {{ trip.departure }}</p>
      </ion-label>
      <ion-button fill="clear" (click)="editTrip(trip)">
        <ion-icon slot="icon-only" name="create-outline"></ion-icon>
      </ion-button>
      <ion-button fill="clear" color="danger" (click)="removeTrip(trip.id)">
        <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
