<ion-header>
  <ion-toolbar>
    <ion-title>Trips</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let trip of trips" (click)="showTripDetails(trip)">
      <ion-label>
        <h2>{{ trip.description }}</h2>
        <p>{{ trip.destination }} - {{ trip.departure }}</p>
      </ion-label>
      <ion-button fill="clear" (click)="editTrip($event, trip)">
        <ion-icon slot="icon-only" name="create-outline"></ion-icon>
      </ion-button>
      <ion-button
        fill="clear"
        color="danger"
        (click)="removeTrip($event, trip)"
      >
        <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
