<ion-header>
  <ion-toolbar>
    <div class="toolbar-content">
      <ion-title>{{ "TABS.TRIPS" | translate }}</ion-title>
      <ion-searchbar
        (ionInput)="filterTrips($event)"
        placeholder="{{ 'TRIPS.SEARCH_TRIP' | translate }}"
      ></ion-searchbar>
    </div>
  </ion-toolbar>
  <ion-toolbar class="filter">
    <ion-select
      (ionChange)="onFilterOrOrderChange($event)"
      [value]="filterOrOrder"
      slot="start"
    >
      <ion-select-option value="filter"
        >{{ "FILTER.FILTER" | translate }}</ion-select-option
      >
      <ion-select-option value="order"
        >{{ "FILTER.ORDER" | translate }}</ion-select-option
      >
    </ion-select>
    <ion-select
      slot="end"
      *ngIf="filterOrOrder === 'filter'"
      (ionChange)="filterByStatus($event)"
      [value]="selectedStatus"
    >
      <ion-select-option value=""
        >{{ "FILTER.ALL" | translate }}</ion-select-option
      >
      <ion-select-option value="planned"
        >{{ "Planned" | translate }}</ion-select-option
      >
      <ion-select-option value="completed"
        >{{ "Completed" | translate }}</ion-select-option
      >
      <ion-select-option value="cancelled"
        >{{ "Cancelled" | translate }}</ion-select-option
      >
    </ion-select>
    <ion-select
      slot="end"
      *ngIf="filterOrOrder === 'order'"
      (ionChange)="orderTrips($event)"
      [value]="orderBy"
    >
      <ion-select-option value="newest"
        >{{ "Newest first" | translate }}</ion-select-option
      >
      <ion-select-option value="oldest"
        >{{ "Oldest first" | translate }}</ion-select-option
      >
    </ion-select>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item
      *ngFor="let trip of filteredTrips"
      (click)="showTripDetails(trip)"
    >
      <ion-label>
        <h2>{{ trip.description }}</h2>
        <p>{{ trip.destination }} - {{ trip.departure }}</p>
      </ion-label>
      <ion-button fill="clear" (click)="editTrip($event, trip)">
        <ion-icon slot="icon-only" name="create-outline"></ion-icon>
      </ion-button>
      <ion-button
        fill="clear"
        color="danger"
        (click)="removeTrip($event, trip)"
      >
        <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
