<ion-header>
  <toolbar-with-language-select
    [title]="'REGISTER.REGISTER' | translate"
  ></toolbar-with-language-select>
</ion-header>

<ion-content>
  <div class="card-container">
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{ "REGISTER.WELCOME" | translate }}</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <form [formGroup]="registerForm" (ngSubmit)="register()">
          <ion-item>
            <ion-label position="floating"
              >{{ "PROFILE.NAME" | translate }}</ion-label
            >
            <ion-input formControlName="name"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input formControlName="email" type="email"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating"
              >{{ "REGISTER.PASSWORD" | translate }}</ion-label
            >
            <ion-input formControlName="password" type="password"></ion-input>
          </ion-item>
          <ion-button
            expand="full"
            type="submit"
            [disabled]="registerForm.invalid"
            >{{ "REGISTER.REGISTER" | translate }}</ion-button
          >
        </form>
        <ion-button expand="full" color="light" (click)="navigateToLogin()"
          >{{ "REGISTER.ALREADY_HAVE_ACCOUNT" | translate }}</ion-button
        >
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
